<body> 
	<div class="container-login"> 
		<div class="wrap-login"> 
	<form  [formGroup]="form"  (ngSubmit)="onSubmit()"> 

				<!-- LOGO --> 
				<span class="login-form-title">Sign in</span> 
				<!--<img class="avatar"src="img/user.svg" alt="" align="center"> -->
        <img class="avatar"src="https://cdn-icons-png.flaticon.com/512/3135/3135789.png" alt="" align="center">
        
					<!-- USUARIO --> 
				<div class="wrap-input100"> 
					<input matInput class="input100" type="text" name="userName" placeholder="Email Address" id="userName" formControlName="userName">	 
					<span class="focus-efecto"></span> 
				</div> 
				<!-- CONTRASEÑA --> 
				<div class="wrap-input100"> 
					<input matInput  class="input100" type="password" name="password" placeholder="password" id="password" formControlName="password" required> 
					<span class="focus-efecto"></span> 
				</div> 
				<!-- BOTÓN --> 
				<div class="container-login-form-btn"> 
					<div class="wrap-login-form-btn"> 
						<div class="login-form-bgbtn"></div> 
						<button type="submit" name="btnEntrar" class="login-form-btn">ENTER</button> 
					</div> 
				</div> 
	</form> 
		</div> 
	</div> 
</body> 